node_modules
dist
test
src/**.js

/docs
.nyc_output
*.log

wallaby.conf.js

.DS_Store
packages/*/coverage/
packages/timeline-state-resolver/src/$schemas/generated
packages/timeline-state-resolver/src/translations.json
.npmrc

# Ignore JetBrains IDE specific files
.idea

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
